{{!-- make a large card for welcome text--}}
<div class="container">
    <div class="card bg-warning text-dark text-center m-4">
        <div class="card-body">
            <h1 class="card-title">Welcome to the BarrelClash!</h1>
        </div>
    </div>
</div>

{{!-- make small cards to navigate website--}}
<div class="container">
        <div class="card mx-auto bg-primary" style="width: 18rem;">
            <div class="card-body text-center">
                <h2 class="card-text">Practice</h2>
                {{#if bestscore}}
                <p class="card-text">Best Score: {{{bestscore}}}</p>
                {{/if}}        
                <a href="/game/practice" class="stretched-link"></a>
            </div>
        </div>
</div>