<div id="target"></div>

<script>
    //load data values
    squareX = new Map([
        [""]
    ])
    squareY = new Map([
        [69, "A"],2.42
        [71.428, "B"], 2.416
        [73.844, "C"], 2.20
        [76.05, "D"],2.20
        [78.99, "E"], 2.1
        [81.092, "F"], 
        [83.446, "G"],
        [85.88, "H"],
        [88.403, "I"]
    ])


    // Create video element
    const video = document.createElement('video');
    video.src = '/videos/out2.mp4';

    video.controls = false;
    video.muted = false;
    video.autoplay = true;
    video.height = window.innerHeight; // in px
    css(video, {
        'display': 'block',
        'margin-left': 'auto',
        'margin-right': 'auto',
    });

    const target = document.getElementById('target');
    // Include in HTML as child of #box
    target.appendChild(video);

    video.addEventListener('mousedown', function (e) {
            // Get the target
            e.target;
            // Get the bounding rectangle of target
            const rect = e.target.getBoundingClientRect();
            const len = rect.right-rect.left;
            const height = rect.bottom-rect.top;

            // Mouse position
            const x = (e.clientX - rect.left)/len*100;
            const y = (e.clientY - rect.top)/height*100;
            alert(`${x}%, and ${y}%`)
        });
    function css(element, style) {
        for (const property in style)
            element.style[property] = style[property];
    }
</script>