<div id='container' class="container">
    <div class="text-center mt-5 pt-5">
        <button id="start" type="button" class="btn btn-secondary btn-lg">Start Pracice</button>
    </div>
    <div class="card mx-auto m-3 text-white bg-secondary" style="width: 18rem">
        <div class="card-body text-center">Best Score: {{{bestscore}}}<br>Previous Game: {{{score}}}</div>
    </div>
    <div class="text-center m-5">
        <a class="btn btn-secondary" href="/" role="button">home</a>
    </div>
</div>

<div id="target" class="container"></div>

<script>
    //single square width=58.89px=5.45278%
    //left left square = 10
    //right right square = 1070
    //total = 1080

    //single square height=48.143px=2.45878%
    //bottom river = 1110
    //bottom field end = 1784
    //total = 1958

    //load data values
    squareY = ["A", "B", "C", "D", "E", "F", "G", "H", "I"];
    console.log();
    //check for game start
    document.getElementById("start").onclick = function (event) {
        document.getElementById("container").remove();
        //create exit button
        const exit = document.createElement('a');
        exit.textContent = "Exit";
        exit.className = "btn btn-danger";
        exit.role = "button";
        exit.href = "/game/practice";
        css(exit, {
            'position': 'absolute',
            'right': '30px',
            'top': '15px',
            'z-index': 1000,
        });

        // Include in HTML as child of target
        const target = document.getElementById('target');
        target.appendChild(exit);

        let score = 0;
        let round = 1;
        game(document, target, score, round);
    }

    //function to help apply ccs to elements
    function css(element, style) {
        for (const property in style)
            element.style[property] = style[property];
    }

    function game(doc, tar, score, round) {
        //create countdown element
        const countdown = doc.createElement('video');
        countdown.src = '/videos/countdown.mp4';
        countdown.controls = false;
        countdown.muted = false;
        countdown.autoplay = true;
        const wx = window.innerWidth;
        const wy = window.innerHeight;
        if (wx / wy < 0.555) { countdown.width = window.innerWidth; }
        else { countdown.height = window.innerHeight; }

        css(countdown, {
            'display': 'block',
            'margin-left': 'auto',
            'margin-right': 'auto',
        });
        tar.appendChild(countdown);

        countdown.onended = function () {
            countdown.remove();
            // Create video element
            const video = doc.createElement('video');
            //video.src = `/videos/${squareY[Math.floor(Math.random() * 9)]}${Math.floor(Math.random() * 17)+1}.mp4`;
            const position = [squareY[Math.floor(Math.random() * 2)], Math.floor(Math.random() * 2) + 1]
            video.src = `/videos/${position[0]}${position[1]}.mp4`;
            video.controls = false;
            video.muted = false;
            video.autoplay = true;
            const wx = window.innerWidth;
            const wy = window.innerHeight;
            if (wx / wy < 0.555) { video.width = window.innerWidth; }
            else { video.height = window.innerHeight; }

            css(video, {
                'display': 'block',
                'margin-left': 'auto',
                'margin-right': 'auto',
            });
            target.appendChild(video);
            const videostart = Date.now();

            //pause video after 2 sec
            setTimeout(() => { video.pause() }, 2700);

            video.addEventListener('mousedown', function (e) {
                // Get the target
                e.target;
                // Get the bounding rectangle of target
                const rect = e.target.getBoundingClientRect();
                const len = rect.right - rect.left;
                const height = rect.bottom - rect.top;

                // Mouse position
                const x = (e.clientX - rect.left) / len * 100;
                const y = (e.clientY - rect.top) / height * 100;

                //turn co-ordinates into square
                let pos = [];
                let yindex = Math.floor((y - 68.9844) / 2.45878);
                //maybe do 0?
                if (yindex >= -3 && yindex < 9) {
                    //pos.push(squareY[yindex])
                    pos.push(yindex + 1)
                    let xindex = Math.floor((x - 0.9259) / 5.45278);
                    if (xindex >= 0 && xindex < 18) { pos.push(xindex + 1) }
                }

                //calculate score
                //sample video
                let points = Math.floor((4000-Date.now()+videostart)/1000*(1000 - 200 * (Math.abs(pos[0] - squareY.indexOf(position[0])) + Math.abs(pos[1] - position[1]))));
                if (!(points > 0)) { points = 0 }
                score += points;
                round += 1;
                alert(`Your points are ${points}, score: ${score}`)

                //repeat game
                if (round < 5) {
                    video.remove();
                    game(doc, tar, score, round);
                }
                else {
                    let bestscore = parseInt({{{bestscore}}});
                    if (score > bestscore || !(bestscore)) {
                        bestscore = score;
                    }
                    $.post('/game/practice', { score: score, bestscore: bestscore });
                    history.go(0)
                    console.log('fin');
                }

            });
        };
    }

    function vidpause(video) {
        video.pause();
    }
</script>