<div id="target"></div>

<script>
    //load data values
    squareX = new Map([
        [""]
    ])
    squareY = [[68.9844, "A"],
    [71.4431, "B"],
    [73.9019, "C"],
    [76.3607, "D"],
    [78.8195, "E"],
    [81.2783, "F"],
    [83.737, "G"],
    [86.1958, "H"],
    [88.6546, "I"],
    [91.1134, "END"]]

    //single square height=48.143px=2.45878%
    //bottom river = 1110
    //bottom field end = 1784
    //total = 1958



    // Create video element
    const video = document.createElement('video');
    video.src = '/videos/out2.mp4';

    video.controls = false;
    video.muted = false;
    video.autoplay = true;
    video.height = window.innerHeight; // in px
    css(video, {
        'display': 'block',
        'margin-left': 'auto',
        'margin-right': 'auto',
    });

    const target = document.getElementById('target');
    // Include in HTML as child of #box
    target.appendChild(video);

    video.addEventListener('mousedown', function (e) {
        // Get the target
        e.target;
        // Get the bounding rectangle of target
        const rect = e.target.getBoundingClientRect();
        const len = rect.right - rect.left;
        const height = rect.bottom - rect.top;

        // Mouse position
        const x = (e.clientX - rect.left) / len * 100;
        const y = (e.clientY - rect.top) / height * 100;

        for (const i = 0; i< squareY.length-1; i++) {
            console.log(element);
            //Do something
        }
        alert(`${x}%, and ${y}%`)
    });
    function css(element, style) {
        for (const property in style)
            element.style[property] = style[property];
    }
</script>